# A detailed Analysis of a Star War Frenchise Survey

# Table of Contents

# Introduction

While waiting for the release of the new Star Wars movie, “[The Force Awakens](https://www.google.com/search?q=the+force+awakens&oq=The+Force+Awakens&gs_lcrp=EgZjaHJvbWUqDwgAEAAYQxjjAhiABBiKBTIPCAAQABhDGOMCGIAEGIoFMgwIARAuGEMYgAQYigUyBwgCEAAYgAQyDAgDEC4YFBiHAhiABDIHCAQQABiABDIHCAUQABiABDIHCAYQABiABDIGCAcQRRg80gEHNjM3ajBqN6gCCLACAQ&sourceid=chrome&ie=UTF-8),” the team at [FiveThirtyEight](https://projects.fivethirtyeight.com/polls/) wanted to learn more about Star Wars fans. They were especially curious to see if most fans think “[The Empire Strikes Back](https://www.google.com/search?q=The+Empire+Strikes+Back&sca_esv=8cadc08fc5804b8d&sca_upv=1&sxsrf=ADLYWILKNQv2u8W72h5BJUJyJvodRhvlFw%3A1723216588972&ei=zDK2ZpGDO9WwwPAP99my2A8&ved=0ahUKEwiRmaCFmuiHAxVVGBAIHfesDPsQ4dUDCA8&uact=5&oq=The+Empire+Strikes+Back&gs_lp=Egxnd3Mtd2l6LXNlcnAiF1RoZSBFbXBpcmUgU3RyaWtlcyBCYWNrMgoQIxiABBgnGIoFMgoQLhiABBhDGIoFMgoQABiABBhDGIoFMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIZEC4YgAQYQxiKBRiXBRjcBBjeBBjgBNgBA0jSCVDVAVjVAXABeAGQAQCYAcgCoAHIAqoBAzMtMbgBA8gBAPgBAvgBAZgCAqAC3QLCAgoQABiwAxjWBBhHwgINEAAYgAQYsAMYQxiKBcICDhAAGLADGOQCGNYE2AEBwgITEC4YgAQYsAMYQxjIAxiKBdgBApgDAIgGAZAGE7oGBggBEAEYCboGBggCEAEYCLoGBggDEAEYFJIHBTEuMy0xoAfACQ&sclient=gws-wiz-serp)” is the best movie in the series. 
To get answers, FiveThirtyEight team used an online survey tool called [SurveyMonkey](https://www.surveymonkey.com/) to ask fans about their opinions. They received 835 responses from Star Wars fans. You can find and download this data from [their GitHub page](https://github.com/fivethirtyeight/data/tree/master/star-wars-survey).

In this project, we will clean and analyze data related to Star Wars episodes 1 to 6 to explore various aspects of their popularity. Our analysis will address <b>the following questions</b>:

- Overall Popularity:
    - Which movie is the most popular overall?
    - Who are the most and least popular characters in the series?
    - Who are the most and least controversial characters in the series?
- Gender-Based Popularity:
    - Which movie is the favorite among men and women, respectively?
    - Who are the most and least popular characters among male and female viewers?
- Age Influence:
    - Does age affect which movie is the most popular?
    - Are certain characters more or less popular among different age groups?
- Educational Background Influence:
    - Does educational background affect which movie is the most popular?
    - Are certain characters more or less popular among people with different educational levels?
- Income Level Influence:
    - Does income level influence which movie is the most favored?
    - Are there characters that are more or less popular among people with different income brackets?
- Regional Influence:
    - Does the region of the United States affect which movie is the most popular?
    - Are certain characters more or less popular in different areas of the US?ps?

Before we begin, let’s take a look at some information that may help us understand what we might find in our dataset:

Our analysis will be focused solely on Star Wars <b>episodes 1 to 6</b>:

<table border='1'> <tbody> <tr> <td><b>Episode I - The Phantom Menace</b></td> <td><img src='img/StarWarE1.jpg' width='100'/></td> <td>Jedi Knights Qui-Gon Jinn and Obi-Wan Kenobi discover young Anakin Skywalker, who is strong with the Force. They face the Sith Lord Darth Maul.</td> </tr> <tr> <td><b>Episode II - Attack of the Clones</b></td> <td><img src='img/StarWarE2.jpg' width='100'/></td> <td>Anakin Skywalker and Padmé Amidala fall in love, while the galaxy edges closer to war. Anakin begins to struggle with his emotions and the dark side.</td> </tr> <tr> <td><b>Episode III - Revenge of the Sith</b></td> <td><img src='img/StarWarE3.jpg' width='100'/></td> <td>Anakin succumbs to the dark side and becomes Darth Vader. The Jedi Order falls, and the Galactic Empire rises under Emperor Palpatine.</td> </tr> <tr> <td><b>Episode IV - A New Hope</b></td> <td><img src='img/StarWarE4.jpg' width='100'/></td> <td>Luke Skywalker joins the Rebel Alliance to fight the Empire. He learns the ways of the Force from Obi-Wan Kenobi and destroys the Death Star.</td> </tr> <tr> <td><b>Episode V - The Empire Strikes Back</b></td> <td><img src='img/StarWarE5.jpg' width='100'/></td> <td>The Rebels suffer a major defeat. Luke trains with Yoda and learns that Darth Vader is his father. Han Solo is captured by Boba Fett.</td> </tr> <tr> <td><b>Episode VI - Return of the Jedi</b></td> <td><img src='img/StarWarE6.jpg' width='100'/></td> <td>Luke and the Rebels launch a final attack on the Empire. Luke redeems his father, Anakin, who destroys Emperor Palpatine, bringing balance to the Force.</td> </tr> </tbody> </table>

Here are some <b>Star Wars characters</b> that people were asked about in the FiveThirtyEight survey. We’ll analyze their responses.

<table border='1'> <tbody> <tr> <td><b>Han Solo</b></td> <td><img src='img/HanSolo.jpg' width='200'/></td> <td>Han Solo is a cool and daring smuggler who becomes a hero. He flies the Millennium Falcon, a legendary starship, and helps the Rebels in their fight against the Empire. Known for his quick wit and roguish charm, Han is a skilled pilot and a loyal friend, especially to his co-pilot Chewbacca. Despite his initial reluctance to join the Rebel cause, he proves to be a brave and resourceful ally.</td> </tr> <tr> <td><b>Luke Skywalker</b></td> <td><img src='img/LukeSkywalker.jpg' width='200'/></td> <td>Luke Skywalker is a farm boy from Tatooine who learns he is a Jedi. He embarks on a journey to fight the Empire and save the galaxy. Under the guidance of Obi-Wan Kenobi and Yoda, Luke hones his skills in the Force. He plays a crucial role in the Rebel Alliance’s victories and ultimately redeems his father, Anakin Skywalker, who had become Darth Vader.</td> </tr> <tr> <td><b>Princess Leia Organa</b></td> <td><img src='img/PrincessLeiaOrgana.jpg' width='200'/></td> <td>Princess Leia Organa is a smart and brave leader of the Rebel Alliance. She is the twin sister of Luke Skywalker and the daughter of Anakin Skywalker and Padmé Amidala. Leia is known for her diplomatic skills, strategic mind, and unwavering dedication to the Rebel cause. She is also a skilled fighter and a symbol of hope for the galaxy.</td> </tr> <tr> <td><b>Anakin Skywalker</b></td> <td><img src='img/AnakinSkywalker.jpg' width='200'/></td> <td>Anakin Skywalker is a talented Jedi who turns into Darth Vader. His story is one of great potential and tragic downfall. Initially a hero of the Clone Wars, Anakin is seduced by the dark side of the Force and becomes the Sith Lord Darth Vader. His journey is marked by his struggle with inner demons and his eventual redemption through the love of his son, Luke Skywalker.</td> </tr> <tr> <td><b>Obi Wan Kenobi</b></td> <td><img src='img/ObiWanKenobi.jpg' width='200'/></td> <td>Obi-Wan Kenobi is a wise Jedi Master who trains both Anakin and Luke Skywalker. He is a key figure in the fight against the Sith and the protection of the galaxy. Known for his wisdom, calm demeanor, and exceptional lightsaber skills, Obi-Wan plays a crucial role in the events of the Star Wars saga, from the Clone Wars to the rise of the Galactic Empire.</td> </tr> <tr> <td><b>Emperor Palpatine</b></td> <td><img src='img/EmperorPalpatine.jpg' width='200'/></td> <td>Emperor Palpatine, also known as Darth Sidious, is the evil ruler of the Galactic Empire. He is a powerful Sith Lord who uses the dark side of the Force to manipulate and control others. Palpatine orchestrates the fall of the Republic and the rise of the Empire, becoming the ultimate antagonist in the Star Wars saga. His cunning and malevolence make him a formidable foe.</td> </tr> <tr> <td><b>Darth Vader</b></td> <td><img src='img/DarthVader.png' width='200'/></td> <td>Darth Vader, once Anakin Skywalker, is a fearsome Sith Lord known for his black armor and deep voice. As the right hand of Emperor Palpatine, Vader enforces the Empire’s will with ruthless efficiency. Despite his fearsome reputation, there remains a spark of good within him, which is ultimately rekindled by his son, Luke Skywalker, leading to his redemption.</td> </tr> <tr> <td><b>Lando Calrissian</b></td> <td><img src='img/LandoCalrissian.jpg' width='200'/></td> <td>Lando Calrissian is a charming gambler and entrepreneur who becomes an important ally to the Rebel Alliance. He is a skilled pilot and the original owner of the Millennium Falcon. Lando plays a significant role in the final battle against the Empire, showcasing his bravery and leadership.</td> </tr> <tr> <td><b>Boba Fett</b></td> <td><img src='img/BobaFett.jpg' width='200'/></td> <td>Boba Fett is a famous bounty hunter known for his distinctive Mandalorian armor and ruthless efficiency. He works for Darth Vader to capture Han Solo and is one of the most feared bounty hunters in the galaxy. Boba Fett’s reputation and skills make him a formidable character in the Star Wars universe.</td> </tr> <tr> <td><b>C-3P0</b></td> <td><img src='img/C3P0.jpg' width='100'/></td> <td>C-3PO is a polite and protocol droid fluent in many languages. Often worrying about the dangers around him, he nonetheless provides invaluable assistance to the Rebel Alliance. Alongside his friend R2-D2, C-3PO plays a crucial role in many of the Rebels’ missions.</td> </tr> <tr> <td><b>R2 D2</b></td> <td><img src='img/R2D2.png' width='200'/></td> <td>R2-D2 is a brave and clever astromech droid. He assists the Rebels on numerous missions with his resourcefulness and technical skills. R2-D2’s loyalty and bravery make him an indispensable member of the Rebel team.</td> </tr> <tr> <td><b>Jar Jar Binks</b></td> <td><img src='img/JarJarBinks.jpg' width='200'/></td> <td>Jar Jar Binks is a clumsy but kind-hearted Gungan from the planet Naboo. Despite his awkwardness, he becomes a senator and plays a significant role in the events leading up to the rise of the Galactic Empire. Jar Jar’s actions have a lasting impact on the galaxy.</td> </tr> <tr> <td><b>Padme Amidala</b></td> <td><img src='img/PadmeAmidala.jpg' width='200'/></td> <td>Padmé Amidala is a strong and caring leader, serving as the Queen of Naboo and later as a senator. She is deeply committed to democracy and justice. Padmé is also the wife of Anakin Skywalker and the mother of Luke Skywalker and Leia Organa. Her love and dedication to her family and her people are central to her character.</td> </tr> <tr> <td><b>Yoda</b></td> <td><img src='img/Yoda.jpg' width='200'/></td> <td>Yoda is a wise and powerful Jedi Master known for his unique way of speaking and his deep understanding of the Force. He trains many Jedi over his long life and plays a crucial role in the fight against the Sith. Yoda’s wisdom and strength make him one of the most respected figures in the Star Wars universe.</td> </tr> </tbody> </table>

In some parts of our analysis, we will compare the Star Wars film franchise with the Expanded Universe (Star Wars Legends) and the Star Trek franchise. Let’s see what they are:



<b>The Star Wars Film Franchise</b><br>
The Star Wars film franchise refers to the series of movies created by George Lucas. It began with the original trilogy in 1977 and has since expanded to include prequels, sequels, and standalone films. The main storyline, known as the “Skywalker Saga,” consists of three trilogies:
- Original Trilogy: Episodes IV-VI (1977-1983)
- Prequel Trilogy: Episodes I-III (1999-2005)
- Sequel Trilogy: Episodes VII-IX (2015-2019)
<br>Additionally, there are standalone films like Rogue One and Solo, as well as animated series and live-action shows like The Mandalorian12.

<b>The Expanded Universe (Star Wars Legends)</b><br>
The Expanded Universe (EU), now known as Star Wars Legends, includes all the licensed Star Wars stories outside of the original six films and certain other material created before April 25, 2014. This encompasses novels, comics, video games, and other media that expand on the Star Wars universe. These stories explore events and characters not covered in the films, ranging from thousands of years before The Phantom Menace to over a century after Return of the Jedi. In 2014, Lucasfilm rebranded the EU as Legends and established a new canon34.

<b>The Star Trek Franchise</b><br>
The Star Trek franchise is a science fiction media franchise created by Gene Roddenberry. It began with the original television series in 1966 and has since grown to include multiple TV series, films, novels, comics, and other media. The franchise explores the adventures of various starship crews in the United Federation of Planets, focusing on themes of exploration, diplomacy, and science. Key series include:
<br>
- Star Trek: The Original Series (1966-1969)
- Star Trek: The Next Generation (1987-1994)
- Star Trek: Deep Space Nine (1993-1999)
- Star Trek: Voyager (1995-2001)
- Star Trek: Enterprise (2001-2005)
- Star Trek: Discovery (2017-present)
- Star Trek: Picard (2020-present)
- Star Trek: Strange New Worlds (2022-present)

<img src='img/StarWarVsStarTrek.jpg'>

# Importing the File

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

In [2]:
sws = pd.read_csv('StarWars.csv',encoding="ISO-8859-1") # 'sws' stands for Star War Survey

# Exploring the Dataset

In [3]:
sws.head(2) # Exploring the first two rows of the sws dataset

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?æ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic

In [4]:
# Exploring the columns of sws dataset
for column in sws.columns:  
    print(column)

RespondentID
Have you seen any of the 6 films in the Star Wars franchise?
Do you consider yourself to be a fan of the Star Wars film franchise?
Which of the following Star Wars films have you seen? Please select all that apply.
Unnamed: 4
Unnamed: 5
Unnamed: 6
Unnamed: 7
Unnamed: 8
Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.
Unnamed: 10
Unnamed: 11
Unnamed: 12
Unnamed: 13
Unnamed: 14
Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.
Unnamed: 16
Unnamed: 17
Unnamed: 18
Unnamed: 19
Unnamed: 20
Unnamed: 21
Unnamed: 22
Unnamed: 23
Unnamed: 24
Unnamed: 25
Unnamed: 26
Unnamed: 27
Unnamed: 28
Which character shot first?
Are you familiar with the Expanded Universe?
Do you consider yourself to be a fan of the Expanded Universe?æ
Do you consider yourself to be a fan of the Star Trek franchise?
Gender
Age
Household Income
Education
Location (Census Region)

In the first row of the `sws` dataset, each cell contains information about its column. We will need this information going forward. Let’s separate this row and save it into a different variable:

In [5]:
# Extracting the first row of the DataFrame and saving it to 'sws_info'
sws_info = sws.iloc[0]

# Removing the first row and resetting the index in one step
sws = sws.iloc[1:].reset_index(drop=True)

# Displaying the first few rows of the updated Dataset
sws.head(3)

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?æ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
1,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central

In [6]:
# Displaying the "sws_info" Dataset 
sws_info_df = sws_info.to_frame()  
for index, row in sws_info_df.iterrows():  
    print(f"\033[1mColumn Name: {index}\033[0m") 
    print(f"\033[31m{row.values}\033[0m")

Column Name: RespondentID
[nan]
Column Name: Have you seen any of the 6 films in the Star Wars franchise?
['Response']
Column Name: Do you consider yourself to be a fan of the Star Wars film franchise?
['Response']
Column Name: Which of the following Star Wars films have you seen? Please select all that apply.
['Star Wars: Episode I  The Phantom Menace']
Column Name: Unnamed: 4
['Star Wars: Episode II  Attack of the Clones']
Column Name: Unnamed: 5
['Star Wars: Episode III  Revenge of the Sith']
Column Name: Unnamed: 6
['Star Wars: Episode IV  A New Hope']
Column Name: Unnamed: 7
['Star Wars: Episode V The Empire Strikes Back']
Column Name: Unnamed: 8
['Star Wars: Episode VI Return of the Jedi']
Column Name: Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.
['Star Wars: Episode I  The Phantom Menace']
Column Name: Unnamed: 10
['Star Wars: Episode II  Attack of the Clones']
Column Name: Unnamed: 11
['Star Wars: Episode III  Revenge of the Sith']
Column Name: Unnamed: 12
['Star Wars: Episode IV  A New Hope']
Column Name: Unnamed: 13
['Star Wars: Episode V The Empire Strikes Back']
Column Name: Unnamed: 14
['Star Wars: Episode VI Return of the Jedi']
Column Name: Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.
['Han Solo']
Column Name: Unnamed: 16
['Luke Skywalker']
Column Name: Unnamed: 17
['Princess Leia Organa']
Column Name: Unnamed: 18
['Anakin Skywalker']
Column Name: Unnamed: 19
['Obi Wan Kenobi']
Column Name: Unnamed: 20
['Emperor Palpatine']
Column Name: Unnamed: 21
['Darth Vader']
Column Name: Unnamed: 22
['Lando Calrissian']
Column Name: Unnamed: 23
['Boba Fett']
Column Name: Unnamed: 24
['C-3P0']
Column Name: Unnamed: 25
['R2 D2']
Column Name: Unnamed: 26
['Jar Jar Binks']
Column Name: Unnamed: 27
['Padme Amidala']
Column Name: Unnamed: 28
['Yoda']
Column Name: Which character shot first?
['Response']
Column Name: Are you familiar with the Expanded Universe?
['Response']
Column Name: Do you consider yourself to be a fan of the Expanded Universe?æ
['Response']
Column Name: Do you consider yourself to be a fan of the Star Trek franchise?
['Response']
Column Name: Gender
['Response']
Column Name: Age
['Response']
Column Name: Household Income
['Response']
Column Name: Education
['Response']
Column Name: Location (Census Region)
['Response']

# Clening the Dataset

## First Column

Let’s ensure there are no duplicate rows in our dataset. Each respondent should have a unique ID.

In [7]:
sws['RespondentID'].is_unique

True

## Second and Third Columns

For convenience, we will rename most of the columns to names that are easier to remember and use. For example, we will change the names of the first and second columns as follows:
- `Have you seen any of the 6 films in the Star Wars franchise?` -> `seen_any`
- `Do you consider yourself to be a fan of the Star Wars film franchise?` -> `star_war_fan`

In [8]:
# Changing the names of the second and third columns:
col_names_dic = {'Have you seen any of the 6 films in the Star Wars franchise?': 'seen_any',
                 'Do you consider yourself to be a fan of the Star Wars film franchise?': 'star_war_fan'
}
sws.rename(columns=col_names_dic, inplace=True)

Let's check what values we have in `seen_any` and `star_war_fan` columns:

In [9]:
target_columns = ['seen_any','star_war_fan']

for tc in target_columns:
    print(sws[tc].value_counts(dropna=False),'\n')

seen_any
Yes    936
No     250
Name: count, dtype: int64

star_war_fan
Yes    552
NaN    350
No     284
Name: count, dtype: int64

We will convert `Yes` and `No` to `True` and `False` respectively because boolean values are much more handy for analysis, especially when performing logical operations or filtering data.

In [10]:
# Creating a dictionary 
yes_no_dictionary = {'Yes':True,
                     'No':False,
                    }

# Using the dictionary above to convert 'Yes' and 'No' to True and False:
for tc in target_columns:
    sws[tc] = sws[tc].map(yes_no_dictionary)

In [11]:
# Checking values in 'seen_any' and 'star_war_fan' columns again:
for tc in target_columns:
    print(sws[tc].value_counts(dropna=False),'\n')

seen_any
True     936
False    250
Name: count, dtype: int64

star_war_fan
True     552
NaN      350
False    284
Name: count, dtype: int64

## Fourth to Ninth Columns

Let’s take a look at what these columns are:

In [12]:
sws.columns[3:9]

Index(['Which of the following Star Wars films have you seen? Please select all that apply.',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

And the values:

In [13]:
#Checking the values in each column:
target_columns = sws.columns[3:9]
for c in target_columns:
    print(sws[c].value_counts(dropna=False))

Which of the following Star Wars films have you seen? Please select all that apply.
Star Wars: Episode I  The Phantom Menace    673
NaN                                         513
Name: count, dtype: int64
Unnamed: 4
NaN                                            615
Star Wars: Episode II  Attack of the Clones    571
Name: count, dtype: int64
Unnamed: 5
NaN                                            636
Star Wars: Episode III  Revenge of the Sith    550
Name: count, dtype: int64
Unnamed: 6
Star Wars: Episode IV  A New Hope    607
NaN                                  579
Name: count, dtype: int64
Unnamed: 7
Star Wars: Episode V The Empire Strikes Back    758
NaN                                             428
Name: count, dtype: int64
Unnamed: 8
Star Wars: Episode VI Return of the Jedi    738
NaN                                         448
Name: count, dtype: int64

All of these columns represent options for a single question. Each column represents a specific Star Wars movie, and the entries indicate whether a respondent has seen that movie or not. If a respondent has seen the movie, the movie’s name is recorded; if not, NaN is used.

In [14]:
sws_info[target_columns]

Which of the following Star Wars films have you seen? Please select all that apply.        Star Wars: Episode I  The Phantom Menace
Unnamed: 4                                                                              Star Wars: Episode II  Attack of the Clones
Unnamed: 5                                                                              Star Wars: Episode III  Revenge of the Sith
Unnamed: 6                                                                                        Star Wars: Episode IV  A New Hope
Unnamed: 7                                                                             Star Wars: Episode V The Empire Strikes Back
Unnamed: 8                                                                                 Star Wars: Episode VI Return of the Jedi
Name: 0, dtype: object

So. first we are going to change the names of these five columns. Before doing that it is important to note we are going to use a new column naming convention:
- `Star Wars: Episode 1 – The Phantom Menace` -> will be designated as `_1` in our new column naming convention.
- `Star Wars: Episode 2 – Attack of the Clones` -> will be designated as `_2` in our new column naming convention.
- `Star Wars: Episode 3 – Revenge of the Sit` -> will be designated as `_3` in our new column naming convention.
- `Star Wars: Episode 4 – A New Hope` -> will be designated as `_4` in our new column naming convention.
- `Star Wars: Episode 5 – The Empire Strikes Back` -> will be designated as `_5` in our new column naming convention.
- `Star Wars: Episode 6 – Return of the Jedi` -> will be designated as `_6` in our new column naming convention.

As a result:
- The column `Which of the following Star Wars films have you seen? Please select all that apply. ... Star Wars: Episode I  The Phantom Menace` will be renamed to `seen_1`.
- The column `Unnamed: 4  ... Star Wars: Episode II  Attack of the Clones` will be renamed to `seen_2`.
- Similar renaming will be applied to the other columns.

In [15]:
# Renaming columns:
# 'Which of the following Star Wars films have you seen? Please select all that apply.' -> seen_1 
# 'Unnamed: 4' -> seen_2 
# 'Unnamed: 5' -> seen_3 
# 'Unnamed: 6' -> seen_4 
# 'Unnamed: 7' -> seen_5 
# 'Unnamed: 8' -> seen_6 

for c, r in zip(target_columns, range(1, 7)):
    sws = sws.rename(columns= {c : 'seen_{}'.format(r)})

sws.iloc[0:4,3:9]

,seen_1,seen_2,seen_3,seen_4,seen_5,seen_6
0,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi
1,NaN,NaN,NaN,NaN,NaN,NaN
2,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN
3,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi

Now, in each column:
- If the value is the name of one of the movies, we will convert it to `True`.
- If it is `NaN`, we will convert it to `False`.

In [16]:
renamed_columns = sws.columns[3:9]

# Iterating over each column in the renamed_columns list [seen_1, seen_2, seen_3, seen_4, seen_5, seen_6]
for c in renamed_columns:
    # Getting the list of unique values which only has one value that is the movie name
    value_list = sws[c].value_counts().index.tolist()
    
    # selecting the only value returned by index_list
    movie_name = value_list[0]
    
    # Creating a dictionary to map the movie name to True and NaN to False
    dictionary = {movie_name: True, np.NaN: False}
    
    # Mapping the values in each column to True or False using the dictionary
    sws[c] = sws[c].map(dictionary)

renamed_columns

Index(['seen_1', 'seen_2', 'seen_3', 'seen_4', 'seen_5', 'seen_6'], dtype='object')

In [17]:
sws.iloc[0:4,3:9]

   seen_1  seen_2  seen_3  seen_4  seen_5  seen_6
0    True    True    True    True    True    True
1   False   False   False   False   False   False
2    True    True    True   False   False   False
3    True    True    True    True    True    True

Logic suggests that if the `seen_any` column is `False` for any row, then the values in the `seen_1` to `seen_6` columns should also be `False`. In other words, if a respondent has not seen any of the six movies , they should not have marked any of the `seen_1` to `seen_6` columns as `True`. Let's check this:

In [18]:
filtered_rows = sws.loc[  
    (sws['seen_any'] == False) &   
    (sws[['seen_1', 'seen_2', 'seen_3', 'seen_4', 'seen_5', 'seen_6']].any(axis=1)==True)  
]  

# Display the filtered rows  
print(filtered_rows)

Empty DataFrame
Columns: [RespondentID, seen_any, star_war_fan, seen_1, seen_2, seen_3, seen_4, seen_5, seen_6, Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film., Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her., Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23, Unnamed: 24, Unnamed: 25, Unnamed: 26, Unnamed: 27, Unnamed: 28, Which character shot first?, Are you familiar with the Expanded Universe?, Do you consider yourself to be a fan of the Expanded Universe?æ, Do you consider yourself to be a fan of the Star Trek franchise?, Gender, Age, Household Income, Education, Location (Census Region)]
Index: []

[0 rows x 38 columns]

As observed, there are no such rows in our dataset, so no further action is needed.

## Tenth to Fifteenth Columns

Here is what we have in these columns:

In [19]:
target_columns = sws.columns[9:15]
sws[target_columns].head()

,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,3,2,1,4,5,6
1,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2,3,4,5,6
3,5,6,1,2,4,3
4,5,4,6,2,1,3

These six columns ask the respondent to rank the Star Wars movies in order from least to most favorite. 1 means the film was the most favorite, and 6 means it was the least favorite. Each of the following columns can contain the value `1`, `2`, `3`, `4`, `5`, `6`, or `NaN`:

To rename the columns we are going to use the similar column naming convention we used for the viewing moives but this time we will use `point_` instead of `seen_`:
- `Star Wars: Episode 1 – The Phantom Menace` -> will be designated as `_1` in our new column naming convention.
- `Star Wars: Episode 2 – Attack of the Clones` -> will be designated as `_2` in our new column naming convention.
- `Star Wars: Episode 3 – Revenge of the Sit` -> will be designated as `_3` in our new column naming convention.
- `Star Wars: Episode 4 – A New Hope` -> will be designated as `_4` in our new column naming convention.
- `Star Wars: Episode 5 – The Empire Strikes Back` -> will be designated as `_5` in our new column naming convention.
- `Star Wars: Episode 6 – Return of the Jedi` -> will be designated as `_6` in our new column naming convention.

As a result:
- The column `Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.` will be renamed to `point_1`.
- The column `Unnamed: 10` will be renamed to `point_2`.
- Similar renaming will be applied to the other columns.

First, let's rename these columns:

In [20]:
# Renaming columns:
# 'Please rank the Star Wars films in order of preference with 1 being ... 
#  ... your favorite film in the franchise and 6 being your least favorite film.' -> point_1 
# 'Unnamed: 10' -> point_2 
# 'Unnamed: 11' -> point_3 
# 'Unnamed: 12' -> point_4 
# 'Unnamed: 13' -> point_5 
# 'Unnamed: 14' -> point_6 

for tc,n in zip(target_columns,range(1,7)):
    new_name_for_column = 'point_{}'.format(n)
    sws = sws.rename(columns={tc:new_name_for_column})

In [21]:
renamed_columns = sws.columns[9:15]
# Checking ranamed columns:
renamed_columns

Index(['point_1', 'point_2', 'point_3', 'point_4', 'point_5', 'point_6'], dtype='object')

Now. Let's see what we have in these columns:

In [22]:
sws[renamed_columns].head()

  point_1 point_2 point_3 point_4 point_5 point_6
0       3       2       1       4       5       6
1     NaN     NaN     NaN     NaN     NaN     NaN
2       1       2       3       4       5       6
3       5       6       1       2       4       3
4       5       4       6       2       1       3

We will be making some changes to the data in these columns:
- First, we need to convert these values to the float type, as we will perform calculations on them later.
- Second, we will invert the numbers; the more favored an item is, the lower the number will be, while the higher the point value will increase.
- Finally, we will examine the dataset for any illogical records and address them as needed.

### Convertimg to Float Type

In [23]:
# Converting to 'float' datatype:
for rc in renamed_columns:
    sws[rc] = sws[rc].astype('float')

### Inverting Numbers

We want to convert these numbers to points. The more favored the item, the lower the number but the higher the points. This means we should reverse the numbers as follows:
- 1 -> 6
- 2 -> 5
- 3 -> 4
- 4 -> 3
- 5 -> 2
- 6 -> 1
- Nan -> NaN

In [24]:
# Defining a function to convert the survey liking system to our points-based liking system:
# For example: favorite(1) -> 6 points or least favorite(6) -> 1 point
def favor_to_point(item):  
    if item == 1:  
        return 6  
    elif item == 2:  
        return 5  
    elif item == 3:  
        return 4  
    elif item == 4:  
        return 3  
    elif item == 5:  
        return 2  
    elif item == 6:  
        return 1  
    else:  
        return float('nan')  # Return NaN for any other input, including NaN

# Applying the function to the specified columns:
for c in renamed_columns:
    sws[c] = sws[c].apply(favor_to_point)

sws[renamed_columns].head()

   point_1  point_2  point_3  point_4  point_5  point_6
0      4.0      5.0      6.0      3.0      2.0      1.0
1      NaN      NaN      NaN      NaN      NaN      NaN
2      6.0      5.0      4.0      3.0      2.0      1.0
3      2.0      1.0      6.0      5.0      3.0      4.0
4      2.0      3.0      1.0      5.0      6.0      4.0

### Identifying and Addressing Data Anomalies

Here we have a logic, if an individual has not seen a particular movie, they cannot form an opinion about it. Consequently, we will replace their rating for that movie with `NaN` to accurately reflect the absence of a valid opinion. Our goal is to maximize the accuracy of the data to the greatest extent possible.

In [25]:
for number in range(1, 7): # Looping through numbers 1 to 6
    # Creating column names for 'seen' and 'point' based on the current number
    seen_n = 'seen_{}'.format(number) 
    point_n = 'point_{}'.format(number)
    
    # Print the first row as an example where the movie has not been seen (seen_n is False)
    # and the corresponding point_n is not NaN (pd.notna(sws[point_n]))
    print(sws.loc[(sws[seen_n] == False) & (pd.notna(sws[point_n]))][[seen_n, point_n]].head(1),'\n')

   seen_1  point_1
9   False      6.0

    seen_2  point_2
16   False      6.0

   seen_3  point_3
9   False      4.0

   seen_4  point_4
2   False      3.0

   seen_5  point_5
2   False      2.0

   seen_6  point_6
2   False      1.0

In [26]:
for number in range(1, 7): # Looping through numbers 1 to 6
    # Creating column names for 'seen' and 'point' based on the current number
    seen_n = 'seen_{}'.format(number) 
    point_n = 'point_{}'.format(number)
    
    # Setting the point_n value to NaN for rows where the movie has not been seen (seen_n is False)
    sws.loc[sws[seen_n] == False, point_n] = np.nan

In [27]:
# Checking if our code has worked
for number in range(1, 7): 
    seen_n = 'seen_{}'.format(number) 
    point_n = 'point_{}'.format(number)
    print(sws.loc[(sws[seen_n] == False) & (pd.notna(sws[point_n]))][[seen_n, point_n]].head(1),'\n')

Empty DataFrame
Columns: [seen_1, point_1]
Index: []

Empty DataFrame
Columns: [seen_2, point_2]
Index: []

Empty DataFrame
Columns: [seen_3, point_3]
Index: []

Empty DataFrame
Columns: [seen_4, point_4]
Index: []

Empty DataFrame
Columns: [seen_5, point_5]
Index: []

Empty DataFrame
Columns: [seen_6, point_6]
Index: []

No additional steps are required.

## Sixteenth to Twenty-ninth Columns

In [ ]:
sws.columns[15:29]

The above columns relate to the popularity of characters in Star Wars movies:

In [ ]:
# Checking the ‘sws_info’ dataset to identify which column corresponds to each character:
sws_info[15:29]

We are going to create a dictionary and use it for renaming these coloumns:

In [ ]:
dictionary = {
    'Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.': 'Han Solo',
    'Unnamed: 16': 'Luke Skywalker',
    'Unnamed: 17': 'Princess Leia Organa',
    'Unnamed: 18': 'Anakin Skywalker',
    'Unnamed: 19': 'Obi Wan Kenobi',
    'Unnamed: 20': 'Emperor Palpatine',
    'Unnamed: 21': 'Darth Vader',
    'Unnamed: 22': 'Lando Calrissian',
    'Unnamed: 23': 'Boba Fett',
    'Unnamed: 24': 'C-3P0',
    'Unnamed: 25': 'R2 D2',
    'Unnamed: 26': 'Jar Jar Binks',
    'Unnamed: 27': 'Padme Amidala',
    'Unnamed: 28': 'Yoda'
}

In [ ]:
# Renaming the specified columns:
sws = sws.rename(columns = dictionary)

In [ ]:
sws.columns[15:29]

In [ ]:
# Checking the values in each column:
target_columns = sws.columns[15:29]
for c in target_columns:
    print(sws[c].value_counts(dropna=False),'\n')

As observed, for each character, respondents have been able to choose between the following options:
- Very favorably
- Somewhat favorably
- Neither favorably nor unfavorably (neutral)
- Somewhat unfavorably
- Very unfavorably
- Unfamiliar (N/A)
<br><br>Some respondents have not chosen any option (`NaN`).

Now, we want to add an extra column for each character in which some score will be stored according to respondent's answer which is as follows:
- Very favorably -> `2`
- Somewhat favorably -> `1`
- Neither favorably nor unfavorably (neutral) -> `0`
- Somewhat unfavorably -> `-1`
- Very unfavorably -> `-2`
- Unfamiliar (N/A) -> `0`
- `NaN` -> `0`(N/A)

In [ ]:
def give_score(favorabilty):
    if favorabilty == "Very favorably":
        return 2
    elif favorabilty == "Somewhat favorably":
        return 1
    elif favorabilty == "Neither favorably nor unfavorably (neutral)":
        return 0
    elif favorabilty == "Somewhat unfavorably":
        return -1
    elif favorabilty == "Very unfavorably":
        return -1
    elif favorabilty == "Unfamiliar (N/A)" or pd.isnull(favorabilty):
        return 0

for column in target_columns:   # target_columns = sws.columns[15:29]
    new_column_name = column  + "_point"
    sws[new_column_name] = sws[column].apply(give_score)

In [ ]:
# Checking the result:
character_columns = [
    'Han Solo', 'Han Solo_point', 'Luke Skywalker', 'Luke Skywalker_point', 'Princess Leia Organa', 'Princess Leia Organa_point', 'Anakin Skywalker', 'Anakin Skywalker_point', 
    'Obi Wan Kenobi', 'Obi Wan Kenobi_point', 'Emperor Palpatine', 'Emperor Palpatine_point', 'Darth Vader', 'Darth Vader_point', 'Lando Calrissian', 'Lando Calrissian_point', 
    'Boba Fett', 'Boba Fett_point', 'C-3P0', 'C-3P0_point', 'R2 D2', 'R2 D2_point', 'Jar Jar Binks', 'Jar Jar Binks_point', 'Padme Amidala', 'Padme Amidala_point', 'Yoda', 'Yoda_point'
]
sws[character_columns].head()

## 'Which character shot first?' and 'Are you familiar with the Expanded Universe?' Columns

We do not want to use these columns, let's drop them:

In [ ]:
sws.drop(columns=['Which character shot first?','Are you familiar with the Expanded Universe?'],inplace=True)

## 'Do you consider yourself to be a fan of the Expanded Universe?' and 'Do you consider yourself to be a fan of the Star Trek franchise' Columns

In [ ]:
# Renaming the column
rename_dictionary = {'Do you consider yourself to be a fan of the Expanded Universe?\x8cæ': 'expanded_universe_fan',
                    'Do you consider yourself to be a fan of the Star Trek franchise?': 'star_trek_fan'
                    }
sws = sws.rename(columns=rename_dictionary)

In [ ]:
# Checking the result:
sws.columns[29:31]

In [ ]:
# Checking the values:
target_columns=['expanded_universe_fan', 'star_trek_fan']
for column in target_columns:
    print(sws[column].value_counts(dropna=False),'\n')

In [ ]:
sws[target_columns].head()

Here, we are going to do the same thing we did with the values of the `star_war_fan` and `star_war_seen` columns:

In [ ]:
# Creating a dictionary: 
yes_no_dictionary = {'Yes':True,
                     'No':False,
                    }

# Using the dictionary above to convert 'Yes' and 'No' to True and False:
for tc in  target_columns:
    sws[tc] = sws[tc].map(yes_no_dictionary)

In [ ]:
# Checking the result:
sws[target_columns].head()

## 'Gender' Column

In [ ]:
# Renaming the column:
sws.rename(columns={'Gender':'gender'},inplace=True)

In [ ]:
# Checking the values:
sws['gender'].value_counts(dropna=False)

## 'Age' Column

In [ ]:
# Renaming the column:
sws.rename(columns={'Age':'age'},inplace=True)

In [ ]:
sws['age'].value_counts(dropna=False)

## 'Household Income' Column

In [ ]:
# Renaming the column:
sws.rename(columns={'Household Income':'household_income'},inplace=True)

In [ ]:
# Checking the values:
sws['household_income'].value_counts(dropna=False)

We can create a column for household income category:

In [ ]:
# Create a mapping for income categories  
def categorize_income(income):  
    if pd.isna(income):  
        return np.NaN  # Keep as NaN for unknown  
    elif income == '$0 - $24,999':  
        return 'Low Income'  
    elif income == '$25,000 - $49,999':  
        return 'Lower-Middle Income'  
    elif income == '$50,000 - $99,999':  
        return 'Middle Income'  
    elif income == '$100,000 - $149,999':  
        return 'Upper-Middle Income'  
    elif income == '$150,000+':  
        return 'High Income'  
    else:  
        return 'Other'  

# Apply the categorization  
sws['household_income_category'] = sws['household_income'].apply(categorize_income)

In [ ]:
# Checking the result:
sws['household_income_category'].value_counts(dropna=False)

## 'Education' Column

In [ ]:
# Renaming the column:
sws.rename(columns={'Education':'education'},inplace=True)

In [ ]:
# Checking the values:
sws['education'].value_counts(dropna=False)

In [ ]:
# Create a mapping for renaming education categories
def rename_education(ed):  
    if pd.isna(ed):  
        return np.NaN  # Keep as NaN for unknown  
    elif ed == 'Some college or Associate degree':  
        return 'Some college'  
    elif ed == 'Bachelor degree':  
        return "Bachelor's"  
    elif ed == 'Graduate degree':  
        return 'Graduate'  
    elif ed == 'High school degree':  
        return 'High school'  
    elif ed == 'Less than high school degree':  
        return 'No diploma'  
    else:  
        return 'Other'  

# Apply the categorization  
sws['education'] = sws['education'].apply(rename_education)

In [ ]:
# Checking the values:
sws['education'].value_counts(dropna=False)

## 'Location (Census Region)' Column

In [ ]:
# Renaming the column:
sws.rename(columns={'Location (Census Region)':'location'},inplace=True)

In [ ]:
# Checking the values:
sws['location'].value_counts(dropna=False)

In [ ]:
## According to US Census Bureau regions and divisions:
# East North Central: Includes states like Ohio, Indiana, Illinois, Michigan, and Wisconsin.
# Pacific: Includes the states of California, Oregon, Washington, Alaska, and Hawaii.
# South Atlantic: Comprises states like Florida, Georgia, South Carolina, North Carolina, and others along the southeastern coast.
# Middle Atlantic: Consists of New York, New Jersey, and Pennsylvania.
# West South Central: Includes Texas, Oklahoma, Arkansas, and Louisiana.
# West North Central: Comprises states like North Dakota, South Dakota, Nebraska, Kansas, Iowa, Minnesota, and Missouri.
# Mountain: Encompasses states like Colorado, Utah, Arizona, Nevada, New Mexico, Idaho, Montana, and Wyoming.
# New England: Includes states such as Maine, New Hampshire, Vermont, Massachusetts, Rhode Island, and Connecticut.
# East South Central: Comprises states like Kentucky, Tennessee, Mississippi, and Alabama.
# NaN: This value represents missing data and does not correspond to any region.

In [ ]:
sws

# Analysis

In [ ]:
sws.iloc[16][['seen_1', 'seen_2', 'seen_3', 'seen_4', 'seen_5', 'seen_6',   
              'point_1', 'point_2', 'point_3', 'point_4', 'point_5', 'point_6']]

In [ ]:
cs = sws.columns
for c in cs:
    print(c)

## Viewers of Any 6 Star Wars Films (%)

In [ ]:
seen_any_yes_percentage = sws['seen_any'].mean() *100
seen_any_no_percentage = 100 - seen_any_yes_percentage
# Plotting the pie chart  
plt.figure(figsize=(5, 5))  
plt.pie([seen_any_yes_percentage,seen_any_no_percentage], labels=['Seen','Not Seen'], autopct='%1.1f%%', startangle=90,colors=['#CED46A','#F0EDCC'])
plt.title('Viewers of Any 6 Star Wars Films')
plt.show()

## Star Wars Viewers Who Are Fans (%)

In [ ]:
star_war_fan_yes = sws['star_war_fan'].sum()
seen_any_yes = sws['seen_any'].sum()
star_war_fan_percentage_among_seen = (star_war_fan_yes / seen_any_yes) * 100
star_war_no_fan_percentage_among_seen = 100 - star_war_fan_percentage_among_seen
# Plotting the pie chart  
plt.figure(figsize=(5, 5))  
plt.pie([star_war_fan_percentage_among_seen,star_war_no_fan_percentage_among_seen], labels=['Fan','No Fan'], autopct='%1.1f%%', startangle=90,colors=['#CED46A','#F0EDCC'])
plt.title('Star Wars Viewers Who Are Fans')
plt.show()

## Viewing Rates for Each Star Wars Episode

In [ ]:
star_wars_movie_names_list = ["The Phantom Menace",  "Attack of the Clones",  "Revenge of the Sith",  
                              "A New Hope",  "The Empire Strikes Back",  "Return of the Jedi"] 

# Calculate seen percentages for each movie  
seen_percentage = sws[['seen_1', 'seen_2', 'seen_3', 'seen_4', 'seen_5', 'seen_6']].mean()
seen_percentage.index = star_wars_movie_names_list
seen_percentage.plot.bar(color = ['#3498db', '#e74c3c', '#2ecc71', '#f39c12', '#9b59b6', '#1abc9c'], ylabel='Viewing Rate', title='Viewing Rates for Each Star Wars Episode')

## Populariy Score for Each Star Wars Episode

In [ ]:
star_wars_movie_names_list = ["The Phantom Menace",  "Attack of the Clones",  "Revenge of the Sith",  
                              "A New Hope",  "The Empire Strikes Back",  "Return of the Jedi"] 

# Calculate popularity score for each movie 
popularity_score = sws[['point_1', 'point_2', 'point_3', 'point_4', 'point_5', 'point_6']].mean()
popularity_score.index = star_wars_movie_names_list
popularity_score.plot.bar(color = ['#3498db', '#e74c3c', '#2ecc71', '#f39c12', '#9b59b6', '#1abc9c'], ylabel='Populariy Score', title='Populariy Score for Each Star Wars Episode')

## War Star characters Popularity Points

In [ ]:
characters = ['Han Solo', 'Luke Skywalker', 'Princess Leia Organa',
              'Anakin Skywalker', 'Obi Wan Kenobi', 'Emperor Palpatine',
              'Darth Vader', 'Lando Calrissian', 'Boba Fett', 'C-3P0', 'R2 D2',
              'Jar Jar Binks', 'Padme Amidala', 'Yoda']
characters_points = ['Han Solo_point', 'Luke Skywalker_point', 'Princess Leia Organa_point','Anakin Skywalker_point', 
                     'Obi Wan Kenobi_point', 'Emperor Palpatine_point','Darth Vader_point', 'Lando Calrissian_point', 
                     'Boba Fett_point', 'C-3P0_point','R2 D2_point', 'Jar Jar Binks_point', 'Padme Amidala_point', 'Yoda_point']
characters_popularity_scores = sws[characters_points].mean() 
characters_popularity_scores.index = characters_popularity_scores.index.str.replace('_point', '', regex=False)
characters_popularity_scores

In [ ]:
colors = [
    '#1f77b4',  # Blue
    '#ff7f0e',  # Orange
    '#2ca02c',  # Green
    '#d62728',  # Red
    '#9467bd',  # Purple
    '#8c564b',  # Brown
    '#e377c2',  # Pink
    '#7f7f7f',  # Gray
    '#bcbd22',  # Olive
    '#17becf',  # Cyan
    '#ffbb78',  # Light Orange
    '#98df8a',  # Light Green
    '#ff9896',  # Light Red
    '#c5b0d5'   # Light Purple
]

characters_popularity_scores.sort_values(ascending=False).plot.bar(color=colors)

In [ ]:
characters = ['Han Solo', 'Luke Skywalker', 'Princess Leia Organa',
              'Anakin Skywalker', 'Obi Wan Kenobi', 'Emperor Palpatine',
              'Darth Vader', 'Lando Calrissian', 'Boba Fett', 'C-3P0', 'R2 D2',
              'Jar Jar Binks', 'Padme Amidala', 'Yoda']

# Initialize an empty DataFrame to store all characters' data
swf_characters = pd.DataFrame(columns=['character', 'very negative', 'negative', 'neutral', 'positive', 'very positive'])

for character in characters:
    counts = sws[character].value_counts(dropna=False).sort_index().tolist()
    very_unfavorably = counts[5]
    somewhat_unfavorably = counts[2]
    neutral = counts[0]
    somewhat_favorably = counts[1]
    very_favorably = counts[4]
    
    # Create a DataFrame for the current character
    character_df = pd.DataFrame({
        'character': [character],
        'very negative': [very_unfavorably],
        'negative': [somewhat_unfavorably],
        'neutral': [neutral],
        'positive': [somewhat_favorably],
        'very positive': [very_favorably]
    })
    
    # Append the current character's DataFrame to the main DataFrame
    swf_characters = pd.concat([swf_characters, character_df], ignore_index=True)

print(swf_characters)

In [ ]:
swf_characters.plot.barh(x='character',ylabel='Star War Characters',xlabel='Number of People',width=0.8, figsize=(10,10), color = ['red', 'orange', 'yellow', 'lightgreen', 'darkgreen'])

## Star War fans who are also expanded universe fan or star trek fan

In [ ]:
star_war_fan_count = sws[sws['star_war_fan']==True].shape[0]
star_war_fan_and_expanded_universe_fan_count = sws[(sws['star_war_fan']==True)&(sws['expanded_universe_fan']==True)].shape[0]
star_war_fan_and_expanded_star_trek_count = sws[(sws['star_war_fan']==True)&(sws['star_trek_fan']==True)].shape[0]
star_war_fan_and_expanded_universe_fan_percentage = (star_war_fan_and_expanded_universe_fan_count / star_war_fan_count) * 100
star_war_fan_and_expanded_star_trek_percentage = (star_war_fan_and_expanded_star_trek_count / star_war_fan_count) * 100
print('Star War fans who are also Expanded Universe fan: {}'.format(star_war_fan_and_expanded_universe_fan_percentage))
print('Star War fans who are also Star Trek fan: {}'.format(star_war_fan_and_expanded_star_trek_percentage))

## Gender

In [ ]:
gender_seen_yes_percentages = sws.pivot_table('seen_any','gender',aggfunc='mean')['seen_any'].tolist()

# Data
categories = ['male', 'female']
values = [gender_seen_yes_percentages[1], gender_seen_yes_percentages[0]]

# Creating a bar plot
plt.title('Percentage of Genders Who Have Seen Any Star Wars Movie')
plt.bar(categories, values, color=['lightblue','pink'])

In [ ]:
gender_points_for_movies = sws.pivot_table(['point_1','point_2','point_3','point_4','point_5','point_6'],'gender',aggfunc='mean')

In [ ]:
star_wars_movie_names_dic = { 
    'point_1': "The Phantom Menace",  
    'point_2': "Attack of the Clones",  
    'point_3': "Revenge of the Sith",  
    'point_4': "A New Hope",  
    'point_5': "The Empire Strikes Back",  
    'point_6': "Return of the Jedi"  
} 

gender_points_for_movies = gender_points_for_movies.rename(columns= star_wars_movie_names_dic)

female_points_for_movies = gender_points_for_movies.loc['Female']
male_points_for_movies = gender_points_for_movies.loc['Male']

movie_names = male_points_for_movies.index # or female_points_for_movies.index
female_points_for_movies = female_points_for_movies.tolist()
male_points_for_movies = male_points_for_movies.tolist()

fig, (ax1, ax2) = plt.subplots(1,2,figsize=(14, 7))

ax1.bar(movie_names, male_points_for_movies,color='lightblue')
ax1.set_title('Movies Popularity Scores by Male')
ax1.tick_params(axis='x', labelrotation=90)

ax2.bar(movie_names, female_points_for_movies,color='pink')
ax2.set_title('Movies Popularity Scores by Female')
ax2.tick_params(axis='x', labelrotation=90)

In [ ]:
character_point_columns = ['Han Solo_point', 'Luke Skywalker_point', 'Princess Leia Organa_point', 
                            'Anakin Skywalker_point', 'Obi Wan Kenobi_point', 'Emperor Palpatine_point', 
                            'Darth Vader_point', 'Lando Calrissian_point', 'Boba Fett_point', 'C-3P0_point', 
                            'R2 D2_point', 'Jar Jar Binks_point', 'Padme Amidala_point', 'Yoda_point']

gender_points_for_characters = sws.pivot_table(character_point_columns,'gender',aggfunc='mean')
gender_points_for_characters.columns = gender_points_for_characters.columns.str.replace('_point', '')

female_points_for_characters = gender_points_for_characters.loc['Female'].sort_values(ascending=False)
male_points_for_characters = gender_points_for_characters.loc['Male'].sort_values(ascending=False)

characters_names_in_order_for_male = male_points_for_characters.index
characters_names_in_order_for_female = female_points_for_characters.index

female_points = female_points_for_characters.tolist()
male_points = male_points_for_characters.tolist()

print('male: ', characters_names_in_order_for_male)
print('female: ', characters_names_in_order_for_female)

In [ ]:
fig, (ax1, ax2) = plt.subplots(1,2,figsize=(15,5))

ax1.bar(characters_names_in_order_for_male,male_points,color='lightblue')
ax1.tick_params(axis='x', labelrotation=90)
ax1.set_title("Characters' Popularity Scores by Male")

ax2.bar(characters_names_in_order_for_female,female_points,color='pink')
ax2.tick_params(axis='x', labelrotation=90)
ax2.set_title("Characters' Popularity Scores by Female")

## Age

In [ ]:
age_movies_points = sws.pivot_table(['point_1','point_2','point_3','point_4','point_5','point_6'],'age',aggfunc='mean')

star_wars_movie_names_dic = { 
    'point_1': "The Phantom Menace",  
    'point_2': "Attack of the Clones",  
    'point_3': "Revenge of the Sith",  
    'point_4': "A New Hope",  
    'point_5': "The Empire Strikes Back",  
    'point_6': "Return of the Jedi"  
} 

age_movies_points = age_movies_points.rename(columns=star_wars_movie_names_dic)

ax = age_movies_points.plot.bar(title='Movies Popularity Score by Age',figsize=(10, 5), color = ['#3498db', '#e74c3c', '#2ecc71', '#f39c12', '#9b59b6', '#1abc9c'])

ax.set_ylabel('Popularity Score')
ax.set_xlabel('Age Range')

# Adjusting the legend size and position
ax.legend(prop={'size': 8}, loc='upper left', bbox_to_anchor=(1, 1))

plt.tight_layout()

In [ ]:
character_point_columns = ['Han Solo_point', 'Luke Skywalker_point', 'Princess Leia Organa_point', 
                            'Anakin Skywalker_point', 'Obi Wan Kenobi_point', 'Emperor Palpatine_point', 
                            'Darth Vader_point', 'Lando Calrissian_point', 'Boba Fett_point', 'C-3P0_point', 
                            'R2 D2_point', 'Jar Jar Binks_point', 'Padme Amidala_point', 'Yoda_point']

colors = [
    '#1f77b4',  # Blue
    '#ff7f0e',  # Orange
    '#2ca02c',  # Green
    '#d62728',  # Red
    '#9467bd',  # Purple
    '#8c564b',  # Brown
    '#e377c2',  # Pink
    '#7f7f7f',  # Gray
    '#bcbd22',  # Olive
    '#17becf',  # Cyan
    '#ffbb78',  # Light Orange
    '#98df8a',  # Light Green
    '#ff9896',  # Light Red
    '#c5b0d5'   # Light Purple
]

age_characters_points = sws.pivot_table(character_point_columns,'age',aggfunc='mean')

character_names = {col: col.replace('_point','') for col in character_point_columns}

age_characters_points = age_characters_points.rename(columns=character_names)

ax = age_characters_points.plot.bar(title="Characters' Popularity Score by Age",figsize=(10, 5),width=0.9, color = colors)

ax.set_ylabel('Popularity Score')
ax.set_xlabel('Age Range')

# Adjusting the legend size and position
ax.legend(prop={'size': 8}, loc='upper left', bbox_to_anchor=(1, 1))

plt.tight_layout()

## Household Income

In [ ]:
household_income_movies_points = sws.pivot_table(['point_1','point_2','point_3','point_4','point_5','point_6'],'household_income_category',aggfunc='mean')

star_wars_movie_names_dic = { 
    'point_1': "The Phantom Menace",  
    'point_2': "Attack of the Clones",  
    'point_3': "Revenge of the Sith",  
    'point_4': "A New Hope",  
    'point_5': "The Empire Strikes Back",  
    'point_6': "Return of the Jedi"  
} 

household_income_movies_points = household_income_movies_points.rename(columns=star_wars_movie_names_dic)

household_income_movies_points = household_income_movies_points.reindex(['Low Income', 'Lower-Middle Income', 'Middle Income', "Upper-Middle Income", 'High Income'])

ax = household_income_movies_points.plot.bar(title='Movies Popularity Score by Income', figsize=(10, 5), color = ['#3498db', '#e74c3c', '#2ecc71', '#f39c12', '#9b59b6', '#1abc9c'])

# Adjusting the legend size and position
ax.legend(prop={'size': 8}, loc='upper left', bbox_to_anchor=(1, 1))

ax.set_ylabel('Popularity Score')

ax.set_xlabel('')

plt.tight_layout()

In [ ]:
character_point_columns = ['Han Solo_point', 'Luke Skywalker_point', 'Princess Leia Organa_point', 
                            'Anakin Skywalker_point', 'Obi Wan Kenobi_point', 'Emperor Palpatine_point', 
                            'Darth Vader_point', 'Lando Calrissian_point', 'Boba Fett_point', 'C-3P0_point', 
                            'R2 D2_point', 'Jar Jar Binks_point', 'Padme Amidala_point', 'Yoda_point']

colors = [
    '#1f77b4',  # Blue
    '#ff7f0e',  # Orange
    '#2ca02c',  # Green
    '#d62728',  # Red
    '#9467bd',  # Purple
    '#8c564b',  # Brown
    '#e377c2',  # Pink
    '#7f7f7f',  # Gray
    '#bcbd22',  # Olive
    '#17becf',  # Cyan
    '#ffbb78',  # Light Orange
    '#98df8a',  # Light Green
    '#ff9896',  # Light Red
    '#c5b0d5'   # Light Purple
]

# Create a dictionary omitting the '_point' part  
character_dict = {col: col[:-6] for col in character_point_columns} 

household_income_character_points = sws.pivot_table(character_point_columns,'household_income_category',aggfunc='mean')

household_income_character_points = household_income_character_points.rename(columns=character_dict)

household_income_character_points = household_income_character_points.reindex(['Low Income', 'Lower-Middle Income', 'Middle Income', "Upper-Middle Income", 'High Income'])

ax = household_income_character_points.plot.bar(title="Characters' Popularity Score by Income", figsize=(10, 5),width=0.9,color=colors)

# Adjusting the legend size and position
ax.legend(prop={'size': 8}, loc='upper left', bbox_to_anchor=(1, 1))

ax.set_ylabel('Popularity Score')

ax.set_xlabel('')

plt.tight_layout()

## Education

In [ ]:
education_movies_points = sws.pivot_table(['point_1','point_2','point_3','point_4','point_5','point_6'],'education',aggfunc='mean')

star_wars_movie_names_dic = { 
    'point_1': "The Phantom Menace",  
    'point_2': "Attack of the Clones",  
    'point_3': "Revenge of the Sith",  
    'point_4': "A New Hope",  
    'point_5': "The Empire Strikes Back",  
    'point_6': "Return of the Jedi"  
} 

education_movies_points = education_movies_points.rename(columns=star_wars_movie_names_dic)

education_movies_points = education_movies_points.reindex(['No diploma', 'High school', 'Some college', "Bachelor's", 'Graduate'])

ax = education_movies_points.plot.bar(title='Movies Popularity Score by Education', figsize=(10, 5), color = ['#3498db', '#e74c3c', '#2ecc71', '#f39c12', '#9b59b6', '#1abc9c'])

# Adjusting the legend size and position
ax.legend(prop={'size': 8}, loc='upper left', bbox_to_anchor=(1, 1))

ax.set_ylabel('Popularity Score')

ax.set_xlabel('')

In [ ]:
character_point_columns = ['Han Solo_point', 'Luke Skywalker_point', 'Princess Leia Organa_point', 
                            'Anakin Skywalker_point', 'Obi Wan Kenobi_point', 'Emperor Palpatine_point', 
                            'Darth Vader_point', 'Lando Calrissian_point', 'Boba Fett_point', 'C-3P0_point', 
                            'R2 D2_point', 'Jar Jar Binks_point', 'Padme Amidala_point', 'Yoda_point']

colors = [
    '#1f77b4',  # Blue
    '#ff7f0e',  # Orange
    '#2ca02c',  # Green
    '#d62728',  # Red
    '#9467bd',  # Purple
    '#8c564b',  # Brown
    '#e377c2',  # Pink
    '#7f7f7f',  # Gray
    '#bcbd22',  # Olive
    '#17becf',  # Cyan
    '#ffbb78',  # Light Orange
    '#98df8a',  # Light Green
    '#ff9896',  # Light Red
    '#c5b0d5'   # Light Purple
]

# Create a dictionary omitting the '_point' part  
character_dict = {col: col[:-6] for col in character_point_columns} 

education_character_points = sws.pivot_table(character_point_columns,'education',aggfunc='mean')

education_character_points = education_character_points.rename(columns=character_dict)

education_character_points = education_character_points.reindex(['No diploma', 'High school', 'Some college', "Bachelor's", 'Graduate'])

education_character_points.reindex()

ax = education_character_points.plot.bar(title="Characters' Popularity Score by Education", figsize=(10, 5),width=0.9,color=colors)

# Adjusting the legend size and position
ax.legend(prop={'size': 8}, loc='upper left', bbox_to_anchor=(1, 1))

ax.set_ylabel('Popularity Score')

ax.set_xlabel('')

## location

In [ ]:
import matplotlib.pyplot as plt  
import pandas as pd  
import matplotlib.image as mpimg  

# Your existing pivot table code  
location_movies_points = sws.pivot_table(['point_1', 'point_2', 'point_3', 'point_4', 'point_5', 'point_6'], 'location', aggfunc='mean') 

locations_order = ['Pacific', 'Mountain', 'West North Central', "West South Central", 'East North Central', 
                   "East South Central", 'Middle Atlantic', 'South Atlantic', 'New England']

location_movies_points = location_movies_points.reindex(locations_order)

star_wars_movie_names_dic = {   
    'point_1': "The Phantom Menace",  
    'point_2': "Attack of the Clones",  
    'point_3': "Revenge of the Sith",  
    'point_4': "A New Hope",  
    'point_5': "The Empire Strikes Back",  
    'point_6': "Return of the Jedi"  
}   

# Create the subplots  
fig, (ax2, ax1) = plt.subplots(2, 1, figsize=(10, 10))  

# Rename the columns  
location_movies_points = location_movies_points.rename(columns=star_wars_movie_names_dic)  

# Plot the bar chart  
location_movies_points.plot.bar(title='Movies Popularity Score by Location', ax=ax1, color=['#3498db', '#e74c3c', '#2ecc71', '#f39c12', '#9b59b6', '#1abc9c'])  

# Adjusting the legend size and position  
ax1.legend(prop={'size': 8}, loc='upper left', bbox_to_anchor=(1, 1))  
ax1.set_ylabel('Popularity Score')  
ax1.set_xlabel('')  

# Load and display the image in ax2  
img = mpimg.imread('US-Census-Bureau-regions-and-divisions-Regions.png')  # Replace with your image path  
ax2.imshow(img)  
ax2.axis('off')  # Turn off axis if you don't want ticks  

plt.tight_layout()  
plt.show()
ax1.set_xlabel('')

In [ ]:
import matplotlib.pyplot as plt  
import pandas as pd  
import matplotlib.image as mpimg  

character_point_columns = ['Han Solo_point', 'Luke Skywalker_point', 'Princess Leia Organa_point', 
                            'Anakin Skywalker_point', 'Obi Wan Kenobi_point', 'Emperor Palpatine_point', 
                            'Darth Vader_point', 'Lando Calrissian_point', 'Boba Fett_point', 'C-3P0_point', 
                            'R2 D2_point', 'Jar Jar Binks_point', 'Padme Amidala_point', 'Yoda_point']

# Your existing pivot table code  
location_characters_points = sws.pivot_table(character_point_columns, 'location', aggfunc='mean') 

locations_order = ['Pacific', 'Mountain', 'West North Central', "West South Central", 'East North Central', 
                   "East South Central", 'Middle Atlantic', 'South Atlantic', 'New England']

location_characters_points = location_characters_points.reindex(locations_order)

colors = [
    '#1f77b4',  # Blue
    '#ff7f0e',  # Orange
    '#2ca02c',  # Green
    '#d62728',  # Red
    '#9467bd',  # Purple
    '#8c564b',  # Brown
    '#e377c2',  # Pink
    '#7f7f7f',  # Gray
    '#bcbd22',  # Olive
    '#17becf',  # Cyan
    '#ffbb78',  # Light Orange
    '#98df8a',  # Light Green
    '#ff9896',  # Light Red
    '#c5b0d5'   # Light Purple
]

# Create a dictionary omitting the '_point' part  
character_dict = {col: col[:-6] for col in character_point_columns} 

# Create the subplots  
fig, (ax2, ax1) = plt.subplots(2, 1, figsize=(10, 10))  

# Rename the columns  
location_characters_points = location_characters_points.rename(columns=character_dict)  

# Plot the bar chart  
location_characters_points.plot.bar(title='Movies Popularity Score by Location', ax=ax1, color=colors, width=0.9)  

# Adjusting the legend size and position  
ax1.legend(prop={'size': 8}, loc='upper left', bbox_to_anchor=(1, 1))  
ax1.set_ylabel('Popularity Score')  
ax1.set_xlabel('')  

# Load and display the image in ax2  
img = mpimg.imread('US-Census-Bureau-regions-and-divisions-Regions.png')  # Replace with your image path  
ax2.imshow(img)  
ax2.axis('off')  # Turn off axis if you don't want ticks  

plt.tight_layout()  
plt.show()
ax1.set_xlabel('')