<b>The Star Wars Film Franchise</b><br>
The Star Wars film franchise refers to the series of movies created by George Lucas. It began with the original trilogy in 1977 and has since expanded to include prequels, sequels, and standalone films. The main storyline, known as the “Skywalker Saga,” consists of three trilogies:
- Original Trilogy: Episodes IV-VI (1977-1983)
- Prequel Trilogy: Episodes I-III (1999-2005)
- Sequel Trilogy: Episodes VII-IX (2015-2019)
<br>Additionally, there are standalone films like Rogue One and Solo, as well as animated series and live-action shows like The Mandalorian12.

<b>The Expanded Universe (Star Wars Legends)</b><br>
The Expanded Universe (EU), now known as Star Wars Legends, includes all the licensed Star Wars stories outside of the original six films and certain other material created before April 25, 2014. This encompasses novels, comics, video games, and other media that expand on the Star Wars universe. These stories explore events and characters not covered in the films, ranging from thousands of years before The Phantom Menace to over a century after Return of the Jedi. In 2014, Lucasfilm rebranded the EU as Legends and established a new canon34.

<b>The Star Trek Franchise</b><br>
The Star Trek franchise is a science fiction media franchise created by Gene Roddenberry. It began with the original television series in 1966 and has since grown to include multiple TV series, films, novels, comics, and other media. The franchise explores the adventures of various starship crews in the United Federation of Planets, focusing on themes of exploration, diplomacy, and science. Key series include:
<br>
- Star Trek: The Original Series (1966-1969)
- Star Trek: The Next Generation (1987-1994)
- Star Trek: Deep Space Nine (1993-1999)
- Star Trek: Voyager (1995-2001)
- Star Trek: Enterprise (2001-2005)
- Star Trek: Discovery (2017-present)
- Star Trek: Picard (2020-present)
- Star Trek: Strange New Worlds (2022-present)

# Importing the File

In [364]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [365]:
sws = pd.read_csv('StarWars.csv',encoding="ISO-8859-1") #sws stands for Star War Survey

In [366]:
sws.head(2)

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?æ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic

In [367]:
for column in sws.columns:  
    print(column)

RespondentID
Have you seen any of the 6 films in the Star Wars franchise?
Do you consider yourself to be a fan of the Star Wars film franchise?
Which of the following Star Wars films have you seen? Please select all that apply.
Unnamed: 4
Unnamed: 5
Unnamed: 6
Unnamed: 7
Unnamed: 8
Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.
Unnamed: 10
Unnamed: 11
Unnamed: 12
Unnamed: 13
Unnamed: 14
Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.
Unnamed: 16
Unnamed: 17
Unnamed: 18
Unnamed: 19
Unnamed: 20
Unnamed: 21
Unnamed: 22
Unnamed: 23
Unnamed: 24
Unnamed: 25
Unnamed: 26
Unnamed: 27
Unnamed: 28
Which character shot first?
Are you familiar with the Expanded Universe?
Do you consider yourself to be a fan of the Expanded Universe?æ
Do you consider yourself to be a fan of the Star Trek franchise?
Gender
Age
Household Income
Education
Location (Census Region)

In the first row, each cell contains information about its column. We will need this information going forward. Let’s separate this row and save it into a different variable:

In [368]:
# Extracting the first row of the DataFrame and saving it to a new variable
sws_info = sws.iloc[0]

# Removing the first row and resetting the index in one step
sws = sws.iloc[1:].reset_index(drop=True)

# Displaying the first few rows of the updated DataFrame
sws.head(3)

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?æ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
1,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central

In [369]:
sws_info

RespondentID                                                                                                                                                                              NaN
Have you seen any of the 6 films in the Star Wars franchise?                                                                                                                         Response
Do you consider yourself to be a fan of the Star Wars film franchise?                                                                                                                Response
Which of the following Star Wars films have you seen? Please select all that apply.                                                                  Star Wars: Episode I  The Phantom Menace
Unnamed: 4                                                                                                                                        Star Wars: Episode II  Attack of the Clones
Unnamed: 5                                                                                                                                        Star Wars: Episode III  Revenge of the Sith
Unnamed: 6                                                                                                                                                  Star Wars: Episode IV  A New Hope
Unnamed: 7                                                                                                                                       Star Wars: Episode V The Empire Strikes Back
Unnamed: 8                                                                                                                                           Star Wars: Episode VI Return of the Jedi
Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.        Star Wars: Episode I  The Phantom Menace
Unnamed: 10                                                                                                                                       Star Wars: Episode II  Attack of the Clones
Unnamed: 11                                                                                                                                       Star Wars: Episode III  Revenge of the Sith
Unnamed: 12                                                                                                                                                 Star Wars: Episode IV  A New Hope
Unnamed: 13                                                                                                                                      Star Wars: Episode V The Empire Strikes Back
Unnamed: 14                                                                                                                                          Star Wars: Episode VI Return of the Jedi
Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.                                                                       Han Solo
Unnamed: 16                                                                                                                                                                    Luke Skywalker
Unnamed: 17                                                                                                                                                              Princess Leia Organa
Unnamed: 18                                                                                                                                                                  Anakin Skywalker
Unnamed: 19                                                                                                                                                                    Obi Wan Kenobi
Unnamed: 20                                                                                                                                                                 Emperor Palpatine
Unnamed: 21                                                                                                                                                                       Darth Vader
Unnamed: 22                                                                                                                                                                  Lando Calrissian
Unnamed: 23                                                                                                                                                                         Boba Fett
Unnamed: 24                                                                                                                                                                             C-3P0
Unnamed: 25                                                                                                                                                                             R2 D2
Unnamed: 26                                                                                                                                                                     Jar Jar Binks
Unnamed: 27                                                                                                                                                                     Padme Amidala
Unnamed: 28                                                                                                                                                                              Yoda
Which character shot first?                                                                                                                                                          Response
Are you familiar with the Expanded Universe?                                                                                                                                         Response
Do you consider yourself to be a fan of the Expanded Universe?æ                                                                                                                     Response
Do you consider yourself to be a fan of the Star Trek franchise?                                                                                                                     Response
Gender                                                                                                                                                                               Response
Age                                                                                                                                                                                  Response
Household Income                                                                                                                                                                     Response
Education                                                                                                                                                                            Response
Location (Census Region)                                                                                                                                                             Response
Name: 0, dtype: object

# Clening the Dataset

## First Column

In [370]:
sws['RespondentID'].is_unique

True

## Second and Third Columns

In [371]:
# Changing the names of the second and third columns:
col_names_dic = {'Have you seen any of the 6 films in the Star Wars franchise?': 'seen_any',
                 'Do you consider yourself to be a fan of the Star Wars film franchise?': 'star_war_fan'
}
sws.rename(columns=col_names_dic, inplace=True)

In [372]:
# Checking values in 'seen_any' and 'star_war_fan' columns:
columns = ['seen_any','star_war_fan'] 
for c in columns:
    print(sws[c].value_counts(dropna=False),'\n')

seen_any
Yes    936
No     250
Name: count, dtype: int64

star_war_fan
Yes    552
NaN    350
No     284
Name: count, dtype: int64

In [373]:
# Creating a dictionary 
yes_no_dictionary = {'Yes':True,
                     'No':False,
                    }

# Using the dictionary above to convert 'Yes' and 'No' to True and False:
for c in columns:
    sws[c] = sws[c].map(yes_no_dictionary)

In [374]:
# Checking values in 'seen_any' and 'star_war_fan' columns again:
for c in columns:
    print(sws[c].value_counts(dropna=False),'\n')

seen_any
True     936
False    250
Name: count, dtype: int64

star_war_fan
True     552
NaN      350
False    284
Name: count, dtype: int64

## Fourth to Ninth Columns

In [375]:
sws.columns[3:9]

Index(['Which of the following Star Wars films have you seen? Please select all that apply.',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [376]:
#Checking the values in each column:
target_columns = sws.columns[3:9]
for c in target_columns:
    print(sws[c].value_counts(dropna=False))

Which of the following Star Wars films have you seen? Please select all that apply.
Star Wars: Episode I  The Phantom Menace    673
NaN                                         513
Name: count, dtype: int64
Unnamed: 4
NaN                                            615
Star Wars: Episode II  Attack of the Clones    571
Name: count, dtype: int64
Unnamed: 5
NaN                                            636
Star Wars: Episode III  Revenge of the Sith    550
Name: count, dtype: int64
Unnamed: 6
Star Wars: Episode IV  A New Hope    607
NaN                                  579
Name: count, dtype: int64
Unnamed: 7
Star Wars: Episode V The Empire Strikes Back    758
NaN                                             428
Name: count, dtype: int64
Unnamed: 8
Star Wars: Episode VI Return of the Jedi    738
NaN                                         448
Name: count, dtype: int64

In [377]:
sws_info[target_columns]

Which of the following Star Wars films have you seen? Please select all that apply.        Star Wars: Episode I  The Phantom Menace
Unnamed: 4                                                                              Star Wars: Episode II  Attack of the Clones
Unnamed: 5                                                                              Star Wars: Episode III  Revenge of the Sith
Unnamed: 6                                                                                        Star Wars: Episode IV  A New Hope
Unnamed: 7                                                                             Star Wars: Episode V The Empire Strikes Back
Unnamed: 8                                                                                 Star Wars: Episode VI Return of the Jedi
Name: 0, dtype: object

So:
- `Star Wars: Episode 1 – The Phantom Menace` -> will be designated as `_1` in our new column naming convention.
- `Star Wars: Episode 2 – Attack of the Clones` -> will be designated as `_2` in our new column naming convention.
- `Star Wars: Episode 3 – Revenge of the Sit` -> will be designated as `_3` in our new column naming convention.
- `Star Wars: Episode 4 – A New Hope` -> will be designated as `_4` in our new column naming convention.
- `Star Wars: Episode 5 – The Empire Strikes Back` -> will be designated as `_5` in our new column naming convention.
- `Star Wars: Episode 6 – Return of the Jedi` -> will be designated as `_6` in our new column naming convention.
<br>For example, instead of using `seen_Star Wars: Episode 1 – The Phantom Menace`, we will use `seen_1`.

In [378]:
# Renaming columns:
# 'Which of the following Star Wars films have you seen? Please select all that apply.' -> seen_1 
# 'Unnamed: 4' -> seen_2 
# 'Unnamed: 5' -> seen_3 
# 'Unnamed: 6' -> seen_4 
# 'Unnamed: 7' -> seen_5 
# 'Unnamed: 8' -> seen_6 

for c, r in zip(target_columns, range(1, 7)):
    sws = sws.rename(columns= {c : 'seen_{}'.format(r)})

sws.iloc[:,3:9].head(3)

,seen_1,seen_2,seen_3,seen_4,seen_5,seen_6
0,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi
1,NaN,NaN,NaN,NaN,NaN,NaN
2,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN

Now, in each column:
- If the value is the name of one of the movies, we will convert it to `True`.
- If it is `NaN`, we will convert it to `False`.

In [379]:
renamed_columns = sws.columns[3:9]

# Iterating over each column in the renamed_columns list [seen_1, seen_2, seen_3, seen_4, seen_5, seen_6]
for c in renamed_columns:
    # Getting the list of unique values which only has one value that is the movie name
    value_list = sws[c].value_counts().index.tolist()
    
    # selecting the only value returned by index_list
    movie_name = value_list[0]
    
    # Creating a dictionary to map the movie name to True and NaN to False
    dictionary = {movie_name: True, np.NaN: False}
    
    # Mapping the values in each column to True or False using the dictionary
    sws[c] = sws[c].map(dictionary)

renamed_columns

Index(['seen_1', 'seen_2', 'seen_3', 'seen_4', 'seen_5', 'seen_6'], dtype='object')

In [380]:
sws.iloc[:,3:9].head(3)

   seen_1  seen_2  seen_3  seen_4  seen_5  seen_6
0    True    True    True    True    True    True
1   False   False   False   False   False   False
2    True    True    True   False   False   False

## Tenth to Fifteenth Columns

In [381]:
target_columns = sws.columns[9:15]
sws[target_columns].head()

,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,3,2,1,4,5,6
1,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2,3,4,5,6
3,5,6,1,2,4,3
4,5,4,6,2,1,3

The next six columns ask the respondent to rank the Star Wars movies in order from least to most favorite. 1 means the film was the most favorite, and 6 means it was the least favorite. Each of the following columns can contain the value `1`, `2`, `3`, `4`, `5`, `6`, or `NaN`:

First, let's rename these columns:

In [382]:
# Checking the ‘sws_info’ dataset to identify which column corresponds to each movie:
sws_info[9:15]

Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.        Star Wars: Episode I  The Phantom Menace
Unnamed: 10                                                                                                                                       Star Wars: Episode II  Attack of the Clones
Unnamed: 11                                                                                                                                       Star Wars: Episode III  Revenge of the Sith
Unnamed: 12                                                                                                                                                 Star Wars: Episode IV  A New Hope
Unnamed: 13                                                                                                                                      Star Wars: Episode V The Empire Strikes Back
Unnamed: 14                                                                                                                                          Star Wars: Episode VI Return of the Jedi
Name: 0, dtype: object

In [383]:
# Renaming columns:
# 'Please rank the Star Wars films in order of preference with 1 being ... 
#  ... your favorite film in the franchise and 6 being your least favorite film.' -> point_1 
# 'Unnamed: 10' -> point_2 
# 'Unnamed: 11' -> point_3 
# 'Unnamed: 12' -> point_4 
# 'Unnamed: 13' -> point_5 
# 'Unnamed: 14' -> point_6 

for c,n in zip(target_columns,range(1,7)):
    new_name_for_column = 'point_{}'.format(n)
    sws = sws.rename(columns={c:new_name_for_column})

In [384]:
renamed_columns = sws.columns[9:15]
# Checking ranamed columns:
renamed_columns

Index(['point_1', 'point_2', 'point_3', 'point_4', 'point_5', 'point_6'], dtype='object')

Now. Let's see what we have in these columns:

In [385]:
sws[renamed_columns].head()

  point_1 point_2 point_3 point_4 point_5 point_6
0       3       2       1       4       5       6
1     NaN     NaN     NaN     NaN     NaN     NaN
2       1       2       3       4       5       6
3       5       6       1       2       4       3
4       5       4       6       2       1       3

Because we need these numbers for some calculations, we should convert them to the `float` type:

In [386]:
# Converting to 'float' datatype:
for rc in renamed_columns:
    sws[rc] = sws[rc].astype('float')

Now, we want to convert these numbers to points. The more favored the item, the lower the number but the higher the points. This means we should reverse the numbers as follows:
- 1 -> 6
- 2 -> 5
- 3 -> 4
- 4 -> 3
- 5 -> 2
- 6 -> 1
- Nan -> NaN

In [387]:
# Defining a function to convert the survey liking system to our points-based liking system:
def favor_to_point(item):  
    if item == 1:  
        return 6  
    elif item == 2:  
        return 5  
    elif item == 3:  
        return 4  
    elif item == 4:  
        return 3  
    elif item == 5:  
        return 2  
    elif item == 6:  
        return 1  
    else:  
        return float('nan')  # Return NaN for any other input, including NaN

# Applying the function to the specified columns:
for c in renamed_columns:
    sws[c] = sws[c].apply(favor_to_point)

In [388]:
sws.iloc[:,9:15].head()

   point_1  point_2  point_3  point_4  point_5  point_6
0      4.0      5.0      6.0      3.0      2.0      1.0
1      NaN      NaN      NaN      NaN      NaN      NaN
2      6.0      5.0      4.0      3.0      2.0      1.0
3      2.0      1.0      6.0      5.0      3.0      4.0
4      2.0      3.0      1.0      5.0      6.0      4.0

## Sixteenth to Twenty-ninth Columns

In [389]:
sws.columns[15:29]

Index(['Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28'],
      dtype='object')

The above columns relate to the popularity of characters in Star Wars movies:

In [390]:
# Checking the ‘sws_info’ dataset to identify which column corresponds to each character:
sws_info[15:29]

Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.                Han Solo
Unnamed: 16                                                                                                             Luke Skywalker
Unnamed: 17                                                                                                       Princess Leia Organa
Unnamed: 18                                                                                                           Anakin Skywalker
Unnamed: 19                                                                                                             Obi Wan Kenobi
Unnamed: 20                                                                                                          Emperor Palpatine
Unnamed: 21                                                                                                                Darth Vader
Unnamed: 22                                                                                                           Lando Calrissian
Unnamed: 23                                                                                                                  Boba Fett
Unnamed: 24                                                                                                                      C-3P0
Unnamed: 25                                                                                                                      R2 D2
Unnamed: 26                                                                                                              Jar Jar Binks
Unnamed: 27                                                                                                              Padme Amidala
Unnamed: 28                                                                                                                       Yoda
Name: 0, dtype: object

We are going to create a dictionary and use it for renaming these coloumns:

In [391]:
dictionary = {
    'Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.': 'Han Solo',
    'Unnamed: 16': 'Luke Skywalker',
    'Unnamed: 17': 'Princess Leia Organa',
    'Unnamed: 18': 'Anakin Skywalker',
    'Unnamed: 19': 'Obi Wan Kenobi',
    'Unnamed: 20': 'Emperor Palpatine',
    'Unnamed: 21': 'Darth Vader',
    'Unnamed: 22': 'Lando Calrissian',
    'Unnamed: 23': 'Boba Fett',
    'Unnamed: 24': 'C-3P0',
    'Unnamed: 25': 'R2 D2',
    'Unnamed: 26': 'Jar Jar Binks',
    'Unnamed: 27': 'Padme Amidala',
    'Unnamed: 28': 'Yoda'
}

In [392]:
# Renaming the specified columns:
sws = sws.rename(columns = dictionary)

In [393]:
sws.columns[15:29]

Index(['Han Solo', 'Luke Skywalker', 'Princess Leia Organa',
       'Anakin Skywalker', 'Obi Wan Kenobi', 'Emperor Palpatine',
       'Darth Vader', 'Lando Calrissian', 'Boba Fett', 'C-3P0', 'R2 D2',
       'Jar Jar Binks', 'Padme Amidala', 'Yoda'],
      dtype='object')

In [394]:
# Checking the values in each column:
target_columns = sws.columns[15:29]
for c in target_columns:
    print(sws[c].value_counts(dropna=False),'\n')

Han Solo
Very favorably                                 610
NaN                                            357
Somewhat favorably                             151
Neither favorably nor unfavorably (neutral)     44
Unfamiliar (N/A)                                15
Somewhat unfavorably                             8
Very unfavorably                                 1
Name: count, dtype: int64

Luke Skywalker
Very favorably                                 552
NaN                                            355
Somewhat favorably                             219
Neither favorably nor unfavorably (neutral)     38
Somewhat unfavorably                            13
Unfamiliar (N/A)                                 6
Very unfavorably                                 3
Name: count, dtype: int64

Princess Leia Organa
Very favorably                                 547
NaN                                            355
Somewhat favorably                             210
Neither favorably nor unfavorably (neutral)     48
Somewhat unfavorably                            12
Unfamiliar (N/A)                                 8
Very unfavorably                                 6
Name: count, dtype: int64

Anakin Skywalker
NaN                                            363
Somewhat favorably                             269
Very favorably                                 245
Neither favorably nor unfavorably (neutral)    135
Somewhat unfavorably                            83
Unfamiliar (N/A)                                52
Very unfavorably                                39
Name: count, dtype: int64

Obi Wan Kenobi
Very favorably                                 591
NaN                                            361
Somewhat favorably                             159
Neither favorably nor unfavorably (neutral)     43
Unfamiliar (N/A)                                17
Somewhat unfavorably                             8
Very unfavorably                                 7
Name: count, dtype: int64

Emperor Palpatine
NaN                                            372
Neither favorably nor unfavorably (neutral)    213
Unfamiliar (N/A)                               156
Somewhat favorably                             143
Very unfavorably                               124
Very favorably                                 110
Somewhat unfavorably                            68
Name: count, dtype: int64

Darth Vader
NaN                                            360
Very favorably                                 310
Somewhat favorably                             171
Very unfavorably                               149
Somewhat unfavorably                           102
Neither favorably nor unfavorably (neutral)     84
Unfamiliar (N/A)                                10
Name: count, dtype: int64

Lando Calrissian
NaN                                            366
Neither favorably nor unfavorably (neutral)    236
Somewhat favorably                             223
Unfamiliar (N/A)                               148
Very favorably                                 142
Somewhat unfavorably                            63
Very unfavorably                                 8
Name: count, dtype: int64

Boba Fett
NaN                                            374
Neither favorably nor unfavorably (neutral)    248
Somewhat favorably                             153
Very favorably                                 138
Unfamiliar (N/A)                               132
Somewhat unfavorably                            96
Very unfavorably                                45
Name: count, dtype: int64

C-3P0
Very favorably                                 474
NaN                                            359
Somewhat favorably                             229
Neither favorably nor unfavorably (neutral)     79
Somewhat unfavorably                            23
Unfamiliar (N/A)                                15
Very unfavorably                                 7
Name: count, dtype: int64

R2 D2
Very favorably                                 562
NaN                                            356
Somewhat favorably                             185
Neither favorably nor unfavorably (neutral)     57
Unfamiliar (N/A)                                10
Somewhat unfavorably                            10
Very unfavorably                                 6
Name: count, dtype: int64

Jar Jar Binks
NaN                                            365
Very unfavorably                               204
Neither favorably nor unfavorably (neutral)    164
Somewhat favorably                             130
Very favorably                                 112
Unfamiliar (N/A)                               109
Somewhat unfavorably                           102
Name: count, dtype: int64

Padme Amidala
NaN                                            372
Neither favorably nor unfavorably (neutral)    207
Somewhat favorably                             183
Very favorably                                 168
Unfamiliar (N/A)                               164
Somewhat unfavorably                            58
Very unfavorably                                34
Name: count, dtype: int64

Yoda
Very favorably                                 605
NaN                                            360
Somewhat favorably                             144
Neither favorably nor unfavorably (neutral)     51
Unfamiliar (N/A)                                10
Very unfavorably                                 8
Somewhat unfavorably                             8
Name: count, dtype: int64

As observed, for each character, respondents have been able to choose between the following options:
- Very favorably
- Somewhat favorably
- Neither favorably nor unfavorably (neutral)
- Somewhat unfavorably
- Very unfavorably
- Unfamiliar (N/A)
<br><br>Some respondents have not chosen any option (`NaN`).

Now, we want to add an extra column for each character in which some score will be stored according to respondent's answer which is as follows:
- Very favorably -> `2`
- Somewhat favorably -> `1`
- Neither favorably nor unfavorably (neutral) -> `0`
- Somewhat unfavorably -> `-1`
- Very unfavorably -> `-2`
- Unfamiliar (N/A) -> `0`
- `NaN` -> `0`(N/A)

In [395]:
def give_score(favorabilty):
    if favorabilty == "Very favorably":
        return 2
    elif favorabilty == "Somewhat favorably":
        return 1
    elif favorabilty == "Neither favorably nor unfavorably (neutral)":
        return 0
    elif favorabilty == "Somewhat unfavorably":
        return -1
    elif favorabilty == "Very unfavorably":
        return -1
    elif favorabilty == "Unfamiliar (N/A)" or pd.isnull(favorabilty):
        return 0

for column in target_columns:   # target_columns = sws.columns[15:29]
    new_column_name = column  + "_point"
    sws[new_column_name] = sws[column].apply(give_score)

In [396]:
# Checking the result:
character_columns = [
    'Han Solo', 'Han Solo_point', 'Luke Skywalker', 'Luke Skywalker_point', 'Princess Leia Organa', 'Princess Leia Organa_point', 'Anakin Skywalker', 'Anakin Skywalker_point', 
    'Obi Wan Kenobi', 'Obi Wan Kenobi_point', 'Emperor Palpatine', 'Emperor Palpatine_point', 'Darth Vader', 'Darth Vader_point', 'Lando Calrissian', 'Lando Calrissian_point', 
    'Boba Fett', 'Boba Fett_point', 'C-3P0', 'C-3P0_point', 'R2 D2', 'R2 D2_point', 'Jar Jar Binks', 'Jar Jar Binks_point', 'Padme Amidala', 'Padme Amidala_point', 'Yoda', 'Yoda_point'
]
sws[character_columns].head()

,Han Solo,Han Solo_point,Luke Skywalker,Luke Skywalker_point,Princess Leia Organa,Princess Leia Organa_point,Anakin Skywalker,Anakin Skywalker_point,Obi Wan Kenobi,Obi Wan Kenobi_point,...,C-3P0,C-3P0_point,R2 D2,R2 D2_point,Jar Jar Binks,Jar Jar Binks_point,Padme Amidala,Padme Amidala_point,Yoda,Yoda_point
0,Very favorably,2,Very favorably,2,Very favorably,2,Very favorably,2,Very favorably,2,...,Very favorably,2,Very favorably,2,Very favorably,2,Very favorably,2,Very favorably,2
1,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
2,Somewhat favorably,1,Somewhat favorably,1,Somewhat favorably,1,Somewhat favorably,1,Somewhat favorably,1,...,Unfamiliar (N/A),0,Unfamiliar (N/A),0,Unfamiliar (N/A),0,Unfamiliar (N/A),0,Unfamiliar (N/A),0
3,Very favorably,2,Very favorably,2,Very favorably,2,Very favorably,2,Very favorably,2,...,Very favorably,2,Very favorably,2,Very favorably,2,Very favorably,2,Very favorably,2
4,Very favorably,2,Somewhat favorably,1,Somewhat favorably,1,Somewhat unfavorably,-1,Very favorably,2,...,Somewhat favorably,1,Somewhat favorably,1,Very unfavorably,-1,Somewhat favorably,1,Somewhat favorably,1

## 'Which character shot first?' and 'Are you familiar with the Expanded Universe?' Columns

We do not want to use these columns, let's drop them:

In [397]:
sws.drop(columns=['Which character shot first?','Are you familiar with the Expanded Universe?'],inplace=True)

## 'Do you consider yourself to be a fan of the Expanded Universe?' and 'Do you consider yourself to be a fan of the Star Trek franchise' Columns

In [398]:
# Renaming the column
rename_dictionary = {'Do you consider yourself to be a fan of the Expanded Universe?\x8cæ': 'expanded_universe_fan',
                    'Do you consider yourself to be a fan of the Star Trek franchise?': 'star_trek_fan'
                    }
sws = sws.rename(columns=rename_dictionary)

In [399]:
# Checking the result:
sws.columns[29:31]

Index(['expanded_universe_fan', 'star_trek_fan'], dtype='object')

In [400]:
# Checking the values:
target_columns=['expanded_universe_fan', 'star_trek_fan']
for column in target_columns:
    print(sws[column].value_counts(dropna=False),'\n')

expanded_universe_fan
NaN    973
No     114
Yes     99
Name: count, dtype: int64

star_trek_fan
No     641
Yes    427
NaN    118
Name: count, dtype: int64

In [401]:
sws[target_columns].head()

  expanded_universe_fan star_trek_fan
0                    No            No
1                   NaN           Yes
2                   NaN            No
3                   NaN           Yes
4                    No            No

Here, we are going to do the same thing we did with the values of the `star_war_fan` and `star_war_seen` columns:

In [402]:
# Creating a dictionary: 
yes_no_dictionary = {'Yes':True,
                     'No':False,
                    }

# Using the dictionary above to convert 'Yes' and 'No' to True and False:
for tc in  target_columns:
    sws[tc] = sws[tc].map(yes_no_dictionary)

In [403]:
# Checking the result:
sws[target_columns].head()

  expanded_universe_fan star_trek_fan
0                 False         False
1                   NaN          True
2                   NaN         False
3                   NaN          True
4                 False         False

## 'Gender' Column

In [404]:
# Renaming the column:
sws.rename(columns={'Gender':'gender'},inplace=True)

In [405]:
# Checking the values:
sws['gender'].value_counts(dropna=False)

gender
Female    549
Male      497
NaN       140
Name: count, dtype: int64

## 'Age' Column

In [406]:
# Renaming the column:
sws.rename(columns={'Age':'age'},inplace=True)

In [407]:
sws['age'].value_counts(dropna=False)

age
45-60    291
> 60     269
30-44    268
18-29    218
NaN      140
Name: count, dtype: int64

Let's add another column for age categories:

In [408]:
# Creating a mapping for age categories  
def categorize_age(age):  
    if pd.isna(age):  
        return np.NaN   
    elif age == '18-29':  
        return 'Young Adult'  
    elif age == '30-44':  
        return 'Adult'  
    elif age == '45-60':  
        return 'Middle-Aged'  
    elif age == '> 60':  
        return 'Elderly'  
    else:  
        return 'Other'  

# Applying the categorization  
sws['age_category'] = sws['age'].apply(categorize_age)

In [409]:
# Checking the result:
sws['age_category'].value_counts(dropna=False)

age_category
Middle-Aged    291
Elderly        269
Adult          268
Young Adult    218
NaN            140
Name: count, dtype: int64

## 'Household Income' Column

In [410]:
# Renaming the column:
sws.rename(columns={'Household Income':'household_income'},inplace=True)

In [411]:
# Checking the values:
sws['household_income'].value_counts(dropna=False)

household_income
NaN                    328
$50,000 - $99,999      298
$25,000 - $49,999      186
$100,000 - $149,999    141
$0 - $24,999           138
$150,000+               95
Name: count, dtype: int64

Just like with age categories, we can do the same for income and create a column for household income category:

In [412]:
# Create a mapping for income categories  
def categorize_income(income):  
    if pd.isna(income):  
        return np.NaN  # Keep as NaN for unknown  
    elif income == '$0 - $24,999':  
        return 'Low Income'  
    elif income == '$25,000 - $49,999':  
        return 'Lower-Middle Income'  
    elif income == '$50,000 - $99,999':  
        return 'Middle Income'  
    elif income == '$100,000 - $149,999':  
        return 'Upper-Middle Income'  
    elif income == '$150,000+':  
        return 'High Income'  
    else:  
        return 'Other'  

# Apply the categorization  
sws['household_income_category'] = sws['household_income'].apply(categorize_income)

In [413]:
# Checking the result:
sws['household_income_category'].value_counts(dropna=False)

household_income_category
NaN                    328
Middle Income          298
Lower-Middle Income    186
Upper-Middle Income    141
Low Income             138
High Income             95
Name: count, dtype: int64

## 'Education' Column

In [416]:
# Renaming the column:
sws.rename(columns={'Education':'education'},inplace=True)

In [417]:
# Checking the values:
sws['education'].value_counts(dropna=False)

education
Some college or Associate degree    328
Bachelor degree                     321
Graduate degree                     275
NaN                                 150
High school degree                  105
Less than high school degree          7
Name: count, dtype: int64

## 'Location (Census Region)' Column

In [418]:
# Renaming the column:
sws.rename(columns={'Location (Census Region)':'location'},inplace=True)

In [419]:
# Checking the values:
sws['location'].value_counts(dropna=False)

location
East North Central    181
Pacific               175
South Atlantic        170
NaN                   143
Middle Atlantic       122
West South Central    110
West North Central     93
Mountain               79
New England            75
East South Central     38
Name: count, dtype: int64

In [61]:
## According to US Census Bureau regions and divisions:
# East North Central: Includes states like Ohio, Indiana, Illinois, Michigan, and Wisconsin.
# Pacific: Includes the states of California, Oregon, Washington, Alaska, and Hawaii.
# South Atlantic: Comprises states like Florida, Georgia, South Carolina, North Carolina, and others along the southeastern coast.
# Middle Atlantic: Consists of New York, New Jersey, and Pennsylvania.
# West South Central: Includes Texas, Oklahoma, Arkansas, and Louisiana.
# West North Central: Comprises states like North Dakota, South Dakota, Nebraska, Kansas, Iowa, Minnesota, and Missouri.
# Mountain: Encompasses states like Colorado, Utah, Arizona, Nevada, New Mexico, Idaho, Montana, and Wyoming.
# New England: Includes states such as Maine, New Hampshire, Vermont, Massachusetts, Rhode Island, and Connecticut.
# East South Central: Comprises states like Kentucky, Tennessee, Mississippi, and Alabama.
# NaN: This value represents missing data and does not correspond to any region.

In [420]:
cs = sws.columns
for c in cs:
    print(c)

RespondentID
seen_any
star_war_fan
seen_1
seen_2
seen_3
seen_4
seen_5
seen_6
point_1
point_2
point_3
point_4
point_5
point_6
Han Solo
Luke Skywalker
Princess Leia Organa
Anakin Skywalker
Obi Wan Kenobi
Emperor Palpatine
Darth Vader
Lando Calrissian
Boba Fett
C-3P0
R2 D2
Jar Jar Binks
Padme Amidala
Yoda
expanded_universe_fan
star_trek_fan
gender
age
household_income
education
location
Han Solo_point
Luke Skywalker_point
Princess Leia Organa_point
Anakin Skywalker_point
Obi Wan Kenobi_point
Emperor Palpatine_point
Darth Vader_point
Lando Calrissian_point
Boba Fett_point
C-3P0_point
R2 D2_point
Jar Jar Binks_point
Padme Amidala_point
Yoda_point
age_category
household_income_category